* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 90%;
  /* overflow: hidden;*/
}

/* html { */
/*   height: 100%; */
/* } */

/* body { */
/*   /\* height: 100%;  *\/ */
/*   margin: 0; */
/*   padding: 0; */
/*   font-family: 'Georgia', serif; */
/*   background-color: #ffffff; */
  
/*   background-image: url('../img/wappen_30.png'); */
/*   background-position: center 200px; */
/*   background-repeat: no-repeat; */
/*   background-attachment: fixed; */

/*   display: flex; */
/*   flex-direction: column; */
/*   min-height: 100vh; */
/*   margin: 0;     */
/* } */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url('../img/wappen_30.png');
  background-position: center 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.main-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;

  flex: 1;             
  display: flex;        
  flex-direction: column;  
}

.content-wrapper {
  /* margin-top: 100px; */
  padding: 100px 0 40px 80px;
  flex: 1;              
  display: flex;
  flex-direction: column;  
}

.fixed-sidebar-decoration {
  position: fixed;
  top: 100px; 
  left: calc(50% - 550px);
  width: 160px;
  height: calc(100vh - 100px);
  background-image: url('../img/ranke.png');
  background-repeat: repeat-y;
  z-index: 900;
}

.site-content {
  flex-grow: 1;
  padding: 20px 40px 40px 80px;
  max-width: 800px;
}

.page-layout {
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
  background-image: url('../img/wappen-bg.png');
  background-position: center 100px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
